<?xml version="1.0" encoding="UTF-8"?> 
<launch>
    <arg name="launch_prefix" default="" />

    <!-- Launch any_node_example node -->
    <node name="any_node_example_node" pkg="any_node_example" type="any_node_example_node"
        output="screen" launch-prefix="$(arg launch_prefix)">
        <rosparam command="load" file="$(find any_node_example)/param/default_parameters.yaml" />
        <rosparam command="load" file="$(find any_node_example)/param/default_topics.yaml" />
        <rosparam command="load" file="$(find any_node_example)/param/default_services.yaml" />
    </node>
    
</launch>
